.DS_Store
/PrimeiroProjetoJava/nbproject/private/
/PrimeiroProjetoJava/dist/
/PrimeiroProjetoJava/build/
/PrimeiroProjetoWeb/nbproject/private/
/PrimeiroProjetoWeb/build/
/PrimeiroProjetoWeb/dist/
/CalculadoraIMC/nbproject/private/
/CalculadoraIMC/build/
/BhaskaraWeb/nbproject/private/
/BhaskaraWeb/build/
/Servlets/nbproject/private/
/Servlets/build/
/UniClima/nbproject/private/
/UniClima/build/
/UniClima/dist/
/Cookies_Sessoes/nbproject/private/
/Cookies_Sessoes/build/
/Cookies_Sessoes/dist/
/SisAcademico/nbproject/private/
/SisAcademico/build/